@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


html, body {
    height: 100vh;
    width: 100vw;
}


body {
    background: black url(../images/imagens/fundo-madeira.jpg) center no-repeat fixed;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section.iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../images/imagens/frame-iphone.png);
}

iframe#telefone {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section.social-media {
    text-align: right;
}

a > img {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    
}

a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform .3s, border 1s;
}